---
- name: manage docker kind network

  hosts: localhost

  vars_files:

    - ../vars.yml

  collections:

    - kubernetes.core
    - community.general

  tasks:

    - name: check docker_net_addr parameter
      fail:
        msg: docker_net_addr must be defined and set to network/prefix
      when: docker_net_addr is not defined or not (docker_net_addr | ipaddr('network/prefix'))

    - name: check operating system
      fail:
        msg: playbook is only supported under Linux
      when: ansible_system != 'Linux'

    - name: manage docker kind network
      docker_network:
        name: "{{ docker_net_name }}"
        enable_ipv6: false
        ipam_config:
          - subnet: "{{ docker_net_addr }}"
            gateway: "{{ docker_net_gateway }}"
            iprange: "{{ docker_net_iprange }}"

    - name: query kind release
      github_release:
        user: kubernetes-sigs
        repo: kind
        action: latest_release
      register: kind_release

    - block:

        - name: create temporary directory
          tempfile:
            state: directory
            prefix: kind
          register: tmpdir
          changed_when: false

        - name: download kind executable
          get_url:
            url: "https://kind.sigs.k8s.io/dl/{{ kind_release.tag }}/kind-{{ ansible_system }}-amd64"
            dest: "{{ tmpdir.path }}/kind"
            mode: 0777
          changed_when: false

        - name: deploy kind cluster
          shell: >-
            {{ kind_bin }} get clusters | grep {{ kind_cluster_name }} || {{ kind_bin }} create cluster --config {{ playbook_dir }}/config.yml
          vars:
            kind_bin: "{{ tmpdir.path }}/kind"
          changed_when: false

        - name: add metallb helm repo
          kubernetes.core.helm_repository:
            name: metallb
            repo_url: https://metallb.github.io/metallb

        - name: deploy metallb chart
          kubernetes.core.helm:
            name: metallb
            chart_ref: metallb/metallb
            release_namespace: "{{ metallb_namespace }}"
            create_namespace: true
            state: present
            wait: true
            update_repo_cache: true
            values:
              configInline:
                address-pools:
                  - name: default
                    protocol: layer2
                    addresses:
                      - "{{ metallb_net_iprange }}"

        - name: deploy haproxy chart
          kubernetes.core.helm:
            name: haproxy-ingress
            chart_ref: haproxy-ingress/haproxy-ingress
            release_namespace: "{{ haproxy_namespace }}"
            create_namespace: true
            state: present
            wait: true
            update_repo_cache: true
            values:
              defaultBackend:
                enabled: true

        - block:

            - name: add longhorn helm repo
              kubernetes.core.helm_repository:
                name: longhorn
                repo_url: https://charts.longhorn.io

            - name: deploy longhorn helm chart
              kubernetes.core.helm:
                name: longhorn
                chart_ref: longhorn/longhorn
                release_namespace: longhorn-system
                create_namespace: true
                state: present
                wait: true
                update_repo_cache: true
                timeout: 10m

          tags: storage

        - block:

            - name: crreate bind namespace
              k8s:
                definition:
                  kind: Namespace
                  apiVersion: v1
                  metadata:
                    name: "{{ bind9_namespace }}"

            - name: create bind configmap
              k8s:
                definition:
                  kind: ConfigMap
                  apiVersion: v1
                  metadata:
                    name: bind9-config
                    namespace: "{{ bind9_namespace }}"
                  data:
                    named: |
                      RESOLVCONF=no
                      OPTIONS="-u bind -4"

                    named.conf: |
                      options {
                        directory "/var/cache/bind";

                        forwarders {
                          1.2.3.4;
                          5.6.7.8;
                        };

                        dnssec-enable no;
                        filter-aaa-on-v4 yes;
                      };

            - debug:
                msg:
                  - mount configmap as subpath
                  - deploy stakater

            - name: create bind deployment
              k8s:
                definition:
                  apiVersion: apps/v1
                  kind: Deployment
                  metadata:
                    name: bind9-deployment
                    namespace: "{{ bind9_namespace }}"
                  spec:
                    replicas: 1
                    selector:
                      matchLabels:
                        app: bind9
                    template:
                      metadata:
                        labels:
                          app: bind9
                      spec:
                        containers:
                          - name: bind9
                            image: ubuntu/bind9:edge
                            ports:
                              - containerPort: 53
                                protocol: TCP
                              - containerPort: 53
                                protocol: UDP

            - name: create bind service
              k8s:
                definition:
                  apiVersion: v1
                  kind: Service
                  metadata:
                    name: bind9-service
                    namespace: "{{ bind9_namespace }}"
                    labels:
                      app: bind9
                  spec:
                    type: LoadBalancer
                    selector:
                      app: bind9
                    ports:
                      - protocol: TCP
                        port: 53
                        targetPort: 53
                        name: bind9-tcp
                      - protocol: UDP
                        port: 53
                        targetPort: 53
                        name: bind9

          tags: dns

      always:

        - name: cleanup temp files
          file:
            state: absent
            path: "{{ tmpdir.path }}"
          changed_when: false
