---
version: '3.9'

networks:
  default:
    name: kind
    external: true

services:

  recursor:
    image: pschiffe/pdns-recursor
    networks:
      default:
        ipv4_address: "{{ compose_net_iprange | ipaddr('2') | ipaddr('address') }}"
    ports:
      - 8081:8081

  mysql:
    image: mariadb:focal
    networks:
      default:

  server:
    image: pschiffe/pdns-mysql
    environment:
      PDNS_api: "yes"
      PDNS_master: "yes"
      PDNS_webserver: "yes"
      PDNS_webserver_address: "0.0.0.0"
      PDNS_webserver_password: "{{ compose_pdns_password }}"
      PDNS_api_key: "{{ compose_pdns_secret }}"
    links:
      - mysql
    networks:
      default:
        ipv4_address: "{{ compose_net_iprange | ipaddr('3') | ipaddr('address') }}"
